@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,700;1,100;1,200;1,400&display=swap');
:root{
    --primary_color: #21bc87;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
}
body {
    height: 100vh;
    background: linear-gradient(-135deg, #11998e, #38ef7d);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.card{
    width: 400px;
    height: 500px;
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    padding-top: 80px;
    position: relative;
    /* overflow: hidden; */
}
.card_heart, .card_cart{
    position: absolute;
    font-size: 25px;
    top: 15px;
    left: 15px;
    cursor: pointer;
}
.card_cart {
    left: unset;
    right: 15px;
}
.card_img {
    width: 100%;
    height: 148px;
    margin-bottom: 35px;
    /* border: 1px solid black; */
}
.card_img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
h2{
    color: var(--primary_color);
    font-weight: bold;
    text-align: center;
    font-size: 28px;
    cursor: pointer;
}
p{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: rgb(59, 58, 58);
}
.card_size{
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    font-size: 18px;
}
.card_size > span{
    background-color: #eaf5cf;
    border-radius: 5px;
    padding: 3px 7px;
    font-weight: bold;
    color: rgb(62, 62, 62);
    cursor: pointer;
}
.card_color{
    display: flex;
    gap: 15px;
    align-items: center;
    font-size: 18px;
}
.red, .black, .green {
    width: 15px;
    height: 15px;
    background-color: #21bc87;
    border-radius: 50%;
    cursor: pointer;
}
.red{
    background-color: red;
}
.black{
    background-color: black;
}
.card_color, .card_size {
    margin-bottom: 15px;
}
.card_action{
    display: flex;
    gap: 20px;
}
button{
    padding: 5px 15px;
    background-color: var(--primary_color);
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}
.card:hover .card_img{
    transform: rotateZ(-13deg) translateY(-40px);
    transition: 0.5s;
}
p {
    margin-bottom: 200px;
}
.card:hover h2{
    transform: translate(-60px, -43px);
    transition: 0.45s;
}
.card:hover p {
    transform: translate(-150px, -43px);
    transition: 0.45s;
    margin-bottom: unset;
}
.card_infor {
    visibility: hidden;
}
.card:hover .card_infor{
    visibility: visible;
}